{% extends "layout.html" %}

{% set language = 'twig' %}
{% macro showName(name) %}
	<p>Hello, {{ name }}!</p>
{% endmacro %}

{# This is a {{comment}} #}
{% block content %}
	<h1>{{ showName(language | capitalize) }}</h1>

	{% for user in entry.users.all() %}
		{% if loop.first %}
			<ul>
		{% endif %}
				<li>{{ user.name }}</li>
		{% if loop.last %}
			</ul>
		{% endif %}
	{% else %}
		{{ 'No users have been found.'|translate }}
	{% endfor %}
{% endblock %}

<ul>
{% for entry in craft.entries().section('test').all() %}
	<li>
		{{ entry.title }}
	</li>
{% endfor %}
</ul>

{% css %}
	h1 {
		color: red
	}
{% endcss %}

{% js %}
	window.addEventListener('load', () => console.log('Hello World'));
{% endjs %}

{% js at head %}
	console.log('Hello World');
{% endjs %}

{% js "/assets/js/script.js" with {
	defer: true
} %}
