{% extends "layout.html" %}

{% set language = 'twig' %}
{% macro showName(name) %}
	<p>Hello, {{ name }}!</p>
{% endmacro %}

{# This is a {{comment}} #}
{% block content %}
	<h1>{{ showName(language | capitalize) }}</h1>

	{% for user in entry.users.all() %}
		{% if loop.first %}
			<ul>
		{% endif %}
				<li>{{ user.name }}</li>
		{% if loop.last %}
			</ul>
		{% endif %}
	{% else %}
		{{ 'No users have been found.'|translate }}
	{% endfor %}
{% endblock %}
